<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} - iNotes </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <header>
            <h1> {% block header %} {% endblock %} </h1>
            <div class="user-info">
                {% if g.user %}
                    <span id="user-name">{{ g.user['username'] }}</span>
                    <button id="logout-btn">Log Out</button>
                {% else %}
                    <button id="logout-btn">Log In</button>
                    <button id="logout-btn">Register</button>
                {% endif %}
            </div>
            <div class="user-info">
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
