{% extends 'base.html' %}

{% block header %}
<h1> {% block title %} My Notes {% endblock %} </h1>
{% endblock %}

{% block content %}

<main>
    <div class="notes">
        {% if notes %}
            {% for note in notes %}
                <div class="note">
                    <h2>{{ notes['title'] }}</h2>
                    <p>{{ notes['body'] }}<</p>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="message">
                It looks like you haven’t added any notes yet. Add one!
            </div>
        {% endif %}
    </div>
    <button class="add">Add Note</button>
</main>

{% endblock %}