* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    margin: 1rem;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.note {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: calc(33.33% - 1rem);
}

.note h2 {
    margin-bottom: 0.5rem;
}

.note p {
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.actions button:hover {
    background-color: #555;
}

.add {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 0.5rem;
    float: right;
}

.add:hover {
    background-color: #555;
}

#user-name {
    margin-right: 10px;
    font-size: 1rem;
}

#logout-btn {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

#logout-btn:hover {
    background-color: #555;
}

.login-form-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 0.5rem;
}

#login-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#login-form button {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

#login-form button:hover {
    background-color: #555;
}

.message {
    color: #A6A6A6;
    font-size: 2rem;
    text-align: center;
    margin: 100px auto; /* Center horizontally and add vertical margin */
    max-width: 600px; /* Adjust as needed for your design */
}